.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.card-grid
{
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

@media (min-width: 450px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
